/* ControlledCarousel.module.css */

/* .carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .carouselImage {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  } */
  .container{
    width: 100%;
    background-color: beige;
    height:80px;
  }
  